//News letter title
.newsletter__title{
    display: none;
}

//News letter mail input for suscribe
.newsletter__input{
    display: none;
}

//News letter button for suscribe
.newsletter__button{
    display: none;
}

//Make disappear the link to access news letter (in tablet)
.newsletter-link  {
    @media (min-height: $breakpoint-medium-tab) { 
        display: none;
    }
}

.newsletter {
    @media (min-height: $breakpoint-medium-tab) {
        margin-bottom: 30%;
}
}
.newsletter__title { 
    @media (min-height: $breakpoint-medium-tab) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -50%;
    font-size: $large-font-size;
    color: $dark-green;
    }
}

.newsletter__input{
    @media (min-height: $breakpoint-medium-tab) {
        display: flex;
        margin-top: 3%;
        margin-left: 75%;
        width: 33%;
        padding: 0.5%;
        border: 2px solid;
        border-radius: 4px;
        font-family: $normal-font;
    }
}

.newsletter__button{
    @media (min-height: $breakpoint-medium-tab) {
        display: flex;
        margin-top:5%;
        margin-left:80%;
        border: none;
        padding: 2%;
        border-radius: 10%;
        box-shadow:4px 4px 8px #aaa;
	    background:#fff;
    }
}
