//News letter title
.newsletter__title{
    display: none;
}

//News letter mail input for suscribe
.newsletter__input{
    display: none;
}

//News letter button for suscribe
.newsletter__button{
    display: none;
}

//Make disappear the link to access news letter (in tablet)
.newsletter-link  {
    @media (min-height: $breakpoint-iphone-large) { 
        display: none;
    }
}


.newsletter__title { 
    @media (min-height: $breakpoint-iphone-large) {
    display: flex;
    }
}
