.header__headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.header__menu {    
    visibility: hidden;
    position: fixed;
    //z-index: 50;
    background-color: transparentize($color: $dark-green, $amount: 0.3);     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
    
    .main-nav{
        font-size: $large-font-size;

        li {
            margin: 5%;
            padding: 5%;
            background-color: $medium-green;
            border-width: 20px;
        
        }

        

        a {
            
            font-family: $normal-font;
            font-size: $large-font-size;
            text-decoration: none;
            color: $light-green;
            
        }
        
    }

    .fa {
        color: $light-green;
    }
    
}


.header__navbar {
    visibility: hidden;
    & a {
        display: inline-block;
        padding-right: 0.5rem;
    }
}


.open-menu {
    font-size: 3rem;
    color: $dark-green;    
}