.header {
    // Buttons "my account" and "suscribe"
    &__login__button {
        margin-left: 7%;
        margin-top: 6%;
        margin-right: 4%;
        padding: 2%;
        height: 10%;
        width: 42%;
        border-radius:12px 0 12px 0;
        background-color: $light-green;
        font-family: $normal-font;
        // Buttons "my account" and "suscribe" for tablet
        @media (min-height: $breakpoint-medium-tab) {
            width: 18%;
            margin: 1%;
            font-size: $medium-font-size;
        }
        
    }

    
}

//Buttons "my account" and "suscribe" with hover
.header__login__button:hover{
    background-color: $cyan;
}
