.footer {

    font-family: $normal-font;
    text-align: center;
    margin: 15%;

    .links__legal_mentions {
        margin: 5%;
    }
    
    a {
        text-decoration: none;
        color: $very-dark-green;
        
    }

    a:hover {
        color: $medium-green;
    }
}

.links__legal_mentions {
    @media (min-height: $breakpoint-medium-tab) {
    margin: 5%;
}
}