//Footer in mobile version, list
.footer {

    font-family: $normal-font;
    text-align: center;
    margin: 15%;

    .contactform-newsletterform {
    visibility: hidden;
    }
    //List of links
    .links__list {
        display: flex;
        flex-direction: column; 
        margin-right: 10%;
    }

    li {
        margin: 2.5%;
    }
    
    a {
        text-decoration: none;
        color: $very-dark-green;    
    }

    a:hover {
        color: $medium-green;
    }
    
    .fa {
        margin-top: 10%;
    }
}

