.footer {

    font-family: $normal-font;
    text-align: center;
    margin: 15%;

    .links__link {
        margin: 5%;
    }

    .links__legal_mentions {
        margin: 5%;
    }
    
    a {
        text-decoration: none;
        color: $very-dark-green;
    }

    a:hover {
        color: $medium-green;
    }
}