//Main colors
$pale-green: #a1e8a1;
$medium-green: #3cb371;
$beige: #d2b48c;

//Fonts family
$title-font: 'Cookie';
$normal-font: 'arial';

//Fonts size
$normal-font-size: 15px;
$medium-font-size: 18px;
$large-font-size: 22px; 
$extra-large-font-size: 28px;

//Breakpoints
